@charset "UTF-8";
a {
  text-decoration: none;
}

ul,
li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

address {
  font-style: inherit;
}

h1,
h2,
h3,
p {
  margin: 0;
}

.text-hidden {
  position: absolute;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

body {
  color: #212121;
  background-color: #ffffff;
  font-weight: 500;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  letter-spacing: 0.03em;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

/* Header */
.page-header {
  /* height: 80px; */
  border: 1px solid #ececec;
}

.page-header > .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.page-header .logo {
  margin-right: 93px;
}

/* Главная навигация */
.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav__item + .nav__item {
  margin-left: 50px;
}

.nav__link {
  color: #212121;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.nav__item {
  position: relative;
  padding: 32px 0;
}

.nav__link--active::after {
  content: '';
  width: 100%;
  height: 4px;
  position: absolute;
  bottom: -1px;
  left: 0;
  background-color: #2196f3;
  border-radius: 2px;
}

.nav__link--active {
  color: #2196f3;
}

.link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link:hover, .link:focus {
  color: #2196f3;
}

.address {
  margin-left: auto;
}

.page-header .address__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.address__link {
  color: #757575;
}

.page-header .address__item + .address__item {
  margin-left: 50px;
}

.portfolio .page-header {
  border-bottom: 1px solid #ececec;
}

.page-footer {
  background-color: #2f303a;
  padding: 60px 0;
}

.page-footer .logo {
  margin-bottom: 20px;
}

.page-footer .address__list {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}

.page-footer .address__item + .address__item {
  margin-top: 9px;
}

.address__sity {
  color: #ffffff;
}

.page-footer > .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/* Логотип */
.logo__text {
  color: #2196f3;
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.2;
}

.logo__subtext {
  color: #000000;
}

.logo__subtext-white {
  color: #ffffff;
}

/* Clients block */
.client {
  padding: 94px 0;
}

.client__title {
  margin-bottom: 50px;
}

.client__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.client__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 170px;
  height: 90px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  color: #afb1b8;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client__link:hover, .client__link:focus {
  border: 1px solid #2196f3;
  color: #2196f3;
}

.client__card + .client__card {
  margin-left: 30px;
}

/* Contact  */
.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.team .contact {
  padding-top: 16px;
  padding-bottom: 30px;
}

.contact__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contact__item + .contact__item {
  margin-left: 10px;
}

.contact__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 44px;
  height: 44px;
  color: #afb1b8;
  border-radius: 50%;
  background-color: transparent;
  outline: none;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact__link:hover, .contact__link:focus {
  background-color: #2196f3;
  color: #ffffff;
}

.contact__icon {
  width: 20px;
  height: 20px;
}

/* feature block */
.feature-block {
  padding: 94px 0px;
}

.feature-block__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.feature-block__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  background-color: #f5f4fa;
  border-radius: 4px;
}

.feature-block__card + .feature-block__card {
  margin-left: 30px;
}

.feature-block__title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.feature-block__text {
  color: #757575;
  font-size: 14px;
  line-height: 1.71;
  font-weight: 400;
}

.icon {
  fill: currentColor;
  height: 100%;
}

.address__icon {
  margin-right: 10px;
}

/* Join block in footer */
.join {
  margin-left: 70px;
  margin-top: 12px;
}

.join__title {
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}

.join .contact__item {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
}

.join .contact__link {
  color: #ffffff;
}

/* Mailing in footer */
.mailing {
  margin-top: 12px;
  margin-left: auto;
}

.mailing__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: #ffffff;
}

.mailing__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
}

.mailing__input {
  width: 358px;
  padding: 15px 16px;
  margin-right: 12px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  background-color: transparent;
}

.mailing__btn {
  padding: 10px 29px;
  /* width: 200px;
  height: 50px; */
  font-weight: 700;
  line-height: 1.87;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
}

.mailing__icon {
  margin-left: 10px;
  fill: currentColor;
  font-size: 0;
  /* transform: translateY(25%); */
}

/* main block */
.main-block {
  max-width: 1600px;
  min-height: 600px;
  padding: 50px 0px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  background-color: #c4c4c4;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/bg-img.jpg");
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/bg-img.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.main-block__text {
  color: #ffffff;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.main-block__button {
  padding: 10px 32px;
  margin-top: 30px;
}

.main-block__button:hover, .main-block__button:focus {
  background-color: #188ce8;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

/* Preview block */
.preview {
  padding-bottom: 94px;
}

.preview__title {
  margin-bottom: 50px;
}

.preview__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.preview__box {
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.preview__box + .preview__box {
  margin-left: 30px;
}

.preview__description {
  position: absolute;
  width: 100%;
  padding: 27px 0;
  bottom: 0;
  left: 0;
  text-align: center;
  background-color: rgba(47, 48, 58, 0.8);
  color: #ffffff;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

/* team-block */
.team {
  background-color: #f5f4fa;
  padding: 94px 0;
}

.team__title {
  margin-bottom: 50px;
}

.team__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.team__card + .team__card {
  margin-left: 30px;
}

.team__card {
  text-align: center;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team__about {
  padding-top: 30px;
  text-align: center;
}

.team__name {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
}

.team__job {
  color: #757575;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
}

/* Style for block-title */
.block-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}

.btn {
  color: #ffffff;
  font-weight: 700;
  line-height: 1.9;
  letter-spacing: 0.06em;
  cursor: pointer;
  border: none;
  border-radius: 4px;
}

.btn-primary {
  background-color: #2196f3;
}

.modal__backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__backdrop--hidden {
  opacity: 0;
  pointer-events: none;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}

.modal__backdrop--hidden .modal__window {
  -webkit-transform: translate(-50%, -150%) scale(0.7);
          transform: translate(-50%, -150%) scale(0.7);
}

.modal__window {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 528px;
  height: 581px;
  padding: 40px;
  background-color: #ffffff;
  border-radius: 4px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1) 50ms;
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1) 50ms;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1) 50ms;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1) 50ms, -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1) 50ms;
}

.modal__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  width: 30px;
  height: 30px;
  right: 8px;
  top: 8px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  border-radius: 50%;
  cursor: pointer;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__btn:hover, .modal__btn:focus {
  color: #2196f3;
}

.modal__btn--close {
  fill: currentColor;
}

.modal__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  margin-bottom: 12px;
}

.form__group {
  margin-bottom: 10px;
}

.form__input {
  width: 100%;
  min-height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 12px 10px 42px;
  cursor: pointer;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__label {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #757575;
  margin-bottom: 4px;
}

.form__field {
  position: relative;
}

.form__field:focus-within .form__input,
.form__group:focus-within .form__textarea {
  border: 1px solid #2196f3;
  border-radius: 4px;
  outline: none;
}

.form__field:focus-within .form__icon {
  fill: #2196f3;
}

.form__textarea {
  font-size: 12px;
  resize: none;
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 16px 12px;
  cursor: pointer;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__textarea::-webkit-input-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form__textarea:-ms-input-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form__textarea::-ms-input-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form__textarea::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form__group--checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 12px;
  cursor: pointer;
}

.checkbox--icon {
  display: inline-block;
  width: 16px;
  height: 15px;
  margin-right: 8px;
  border: 2px solid #212121;
  border-radius: 2px;
  background: transparent;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), background 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__checkbox:checked + .checkbox--icon {
  border-color: transparent;
  background-color: #2196f3;
  background-image: url("../images/svg/form/checkbox-on.svg");
  background-size: contain;
  background-origin: border-box;
}

.form__checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.form__label--policy {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  text-align: center;
  color: #757575;
}

a.form__link--policy {
  color: #2196f3;
  text-decoration: underline;
}

.form__btn {
  display: block;
  margin: 30px auto 0px;
  padding: 10px 55px;
  font-weight: 700;
  line-height: 1.87;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.form__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  fill: currentColor;
}
/*# sourceMappingURL=main.css.map */