@charset "UTF-8";
a {
  text-decoration: none;
}

ul,
li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

address {
  font-style: inherit;
}

h1,
h2,
h3,
p {
  margin: 0;
}

.text-hidden {
  position: absolute;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

body {
  color: #212121;
  background-color: #ffffff;
  font-weight: 500;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  letter-spacing: 0.03em;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

/* Header */
.page-header {
  /* height: 80px; */
  border: 1px solid #ececec;
}

.page-header > .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.page-header .logo {
  margin-right: 93px;
}

/* Главная навигация */
.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav__item + .nav__item {
  margin-left: 50px;
}

.nav__link {
  color: #212121;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.nav__item {
  position: relative;
  padding: 32px 0;
}

.nav__link--active::after {
  content: '';
  width: 100%;
  height: 4px;
  position: absolute;
  bottom: -1px;
  left: 0;
  background-color: #2196f3;
  border-radius: 2px;
}

.nav__link--active {
  color: #2196f3;
}

.link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link:hover, .link:focus {
  color: #2196f3;
}

.address {
  margin-left: auto;
}

.page-header .address__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.address__link {
  color: #757575;
}

.page-header .address__item + .address__item {
  margin-left: 50px;
}

.portfolio .page-header {
  border-bottom: 1px solid #ececec;
}

.page-footer {
  background-color: #2f303a;
  padding: 60px 0;
}

.page-footer .logo {
  margin-bottom: 20px;
}

.page-footer .address__list {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}

.page-footer .address__item + .address__item {
  margin-top: 9px;
}

.address__sity {
  color: #ffffff;
}

.page-footer > .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/* Логотип */
.logo__text {
  color: #2196f3;
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.2;
}

.logo__subtext {
  color: #000000;
}

.logo__subtext-white {
  color: #ffffff;
}

.icon {
  fill: currentColor;
  height: 100%;
}

.address__icon {
  margin-right: 10px;
}

/* Join block in footer */
.join {
  margin-left: 70px;
  margin-top: 12px;
}

.join__title {
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}

.join .contact__item {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
}

.join .contact__link {
  color: #ffffff;
}

/* Mailing in footer */
.mailing {
  margin-top: 12px;
  margin-left: auto;
}

.mailing__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: #ffffff;
}

.mailing__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
}

.mailing__input {
  width: 358px;
  padding: 15px 16px;
  margin-right: 12px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  background-color: transparent;
}

.mailing__btn {
  padding: 10px 29px;
  /* width: 200px;
  height: 50px; */
  font-weight: 700;
  line-height: 1.87;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
}

.mailing__icon {
  margin-left: 10px;
  fill: currentColor;
  font-size: 0;
  /* transform: translateY(25%); */
}

/* Contact  */
.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.team .contact {
  padding-top: 16px;
  padding-bottom: 30px;
}

.contact__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contact__item + .contact__item {
  margin-left: 10px;
}

.contact__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 44px;
  height: 44px;
  color: #afb1b8;
  border-radius: 50%;
  background-color: transparent;
  outline: none;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact__link:hover, .contact__link:focus {
  background-color: #2196f3;
  color: #ffffff;
}

.contact__icon {
  width: 20px;
  height: 20px;
}

.filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 50px;
}

.filter__item + .filter__item {
  margin-left: 8px;
}

.filter__button {
  background: #f5f4fa;
  color: #212121;
  border: none;
  font-weight: 500;
  letter-spacing: 0.03em;
  padding: 6px 22px;
  line-height: 1.62;
  border-radius: 4px;
  cursor: pointer;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter__button--active, .filter__button:hover, .filter__button:focus {
  background: #2196f3;
  color: #ffffff;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.projects {
  padding: 94px 0;
}

.projects__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.projects__body {
  display: block;
  width: 370px;
}

.projects__body:hover, .projects__body:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.projects__card {
  background: #ffffff;
  border: 1px solid #eeeeee;
  width: calc((100% - 60px) / 3);
  cursor: pointer;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.projects__body:hover .projects__text,
.projects__body:focus .projects__text {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.projects__card:not(:nth-child(3n)) {
  margin-right: 30px;
}

.projects__card:not(:nth-last-child(-n + 3)) {
  margin-bottom: 30px;
}

.projects__overlay {
  position: relative;
  overflow: hidden;
}

.projects__text {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 24px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  color: #ffffff;
  background-color: rgba(33, 150, 243, 0.9);
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.projects__content {
  padding: 20px 24px;
}

.projects__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}

.projects__description {
  font-weight: 400;
  line-height: 1.87;
  color: #757575;
}

/* Style for block-title */
.block-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}

.btn {
  color: #ffffff;
  font-weight: 700;
  line-height: 1.9;
  letter-spacing: 0.06em;
  cursor: pointer;
  border: none;
  border-radius: 4px;
}

.btn-primary {
  background-color: #2196f3;
}
/*# sourceMappingURL=portfolio.css.map */