/* Header */
.page-header {
  /* height: 80px; */
  border: 1px solid #ececec;
}
.page-header > .container {
  display: flex;
  align-items: center;
}

.page-nav {
  @include centeredFlex();
}

.page-header .logo {
  margin-right: 93px;
}
/* Главная навигация */
.nav {
  display: flex;
}
.nav__item + .nav__item {
  margin-left: 50px;
}
.nav__link {
  color: $main-text-color;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.nav__item {
  position: relative;
  padding: 32px 0;
}
.nav__link--active::after {
  content: '';
  width: 100%;
  height: 4px;
  position: absolute;
  bottom: -1px;
  left: 0;
  background-color: $accent-color;
  border-radius: 2px;
}
.nav__link--active {
  color: $accent-color;
}
.link {
  display: flex;
  align-items: center;
  transition: color $anim-time $animation;
  &:hover,
  &:focus {
    color: $accent-color;
  }
}
.address {
  margin-left: auto;
}

.page-header .address__list {
  @include centeredFlex();

  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.address__link {
  color: $secondary-text-color;
}
.page-header .address__item + .address__item {
  margin-left: 50px;
}

.portfolio .page-header {
  border-bottom: 1px solid #ececec;
}
