.btn-burger {
  background-color: transparent;
  border: none;
  // margin: 10px 0;
  padding: 0;
  margin: 0;
  margin-left: auto;
  width: 40px;
  height: 40px;
  @media screen and (min-width: 768px) {
    display: none;
  }
  // @include centeredFlex;
  // outline: 1px solid red;
}
.btn-burger--icon {
  fill: $main-text-color;
  transition: fill $anim-time $animation;
  // space
  width: 40px;
  height: 40px;
  // outline: 2px solid blue;
}

.btn-burger--icon:hover,
.btn-burger--icon:focus {
  fill: $accent-color;
}
.btn-burger .icon-cross {
  display: none;
}

.btn-burger.is-open {
  .icon-cross {
    display: block;
  }
  .icon-menu {
    display: none;
  }
}

.menu-container {
  width: 100%;
  z-index: 101;
  @media screen and (max-width: 767px) {
    padding: 0 40px 48px 40px;

    overflow-y: scroll;
    display: none;
    position: absolute;
    background-color: $white-color;

    height: calc(100vh - 60px);
    left: 0;
    top: 100%;
    &.is-open {
      display: flex;
      flex-direction: column;
      // display: block;
    }
  }
  @media screen and (min-width: 768px) {
    display: flex;
  }
}
.social {
  display: flex;
  margin-top: 64px;

  @media screen and (min-width: $tablet) {
    display: none;
  }
}

.social__list {
  display: flex;
  flex-wrap: wrap;

  // mobile
  // justify-content: center;
}

.social__item {
  padding: 10px 0;
  @media screen and (max-width: 347px) {
    &:nth-child(2n) {
      padding-left: 20px;
      margin-right: 30px;
      & > .social__link::before {
        @include burgerLine;
      }
    }
    &:nth-child(1n) {
      width: 83px;
    }
  }
  @media screen and (min-width: 348px) and (max-width: 438px) {
    &:not(:last-child):not(:first-child) {
      padding-left: 20px;
      & > .social__link::before {
        @include burgerLine;
      }
    }
    &:last-child {
      margin-right: 20px;
    }
  }
  @media screen and (min-width: 439px) {
    &:not(:first-child) {
      padding-left: 20px;
      & > .social__link::before {
        @include burgerLine;
      }
    }
  }
}

.social__link {
  position: relative;

  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: $accent-color;
}

// .social__item + .social__item {
//   padding-left: 20px;
//   & > .social__link::before {
//     content: '';
//     position: absolute;
//     left: -10px;
//     height: 100%;
//     border: 1px solid rgba(33, 33, 33, 0.2);
//     // transform: rotate(90deg);
//   }
// }
