/* Clients block */
.client {
  padding: 60px 0;
}
.client__title {
  margin-bottom: 30px;
}
.client__list {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}
.client__card {
  margin: 15px;

  width: calc(50% - 30px);
  height: 90px;
}
.client__link {
  @include centeredFlex();

  height: 100%;

  border: 1px solid $icon-color;
  border-radius: 4px;
  color: $icon-color;
  transition: color $anim-time $animation, border $anim-time $animation;
  &:hover,
  &:focus {
    border: 1px solid $accent-color;
    color: $accent-color;
  }
}
.client__card + .client__card {
  // margin-left: 30px;
}
