/* feature block */
.feature-block {
  padding: 60px 0px;
  @media screen and (min-width: $desktop) {
    padding: 94px 0;
  }
}
.feature-block__list {
  display: flex;
  flex-wrap: wrap;
  // flex-direction: column;
  @media screen and (max-width: $desktop - 1px) {
    margin: -15px;
  }
}
.feature-block__card {
  @media screen and (max-width: $desktop - 1px) {
    margin: 15px;
  }
}
.feature-block__icon {
  @include centeredFlex();
  margin-bottom: 30px;

  background-color: $gray-color;
  border-radius: 4px;
  padding: 25px 0;
}

.feature-block__card {
  max-width: 450px;
  @media screen and (min-width: $tablet) {
    max-width: 354px;
  }
  @media screen and (min-width: $desktop) {
    width: 270px;
  }
  // margin: 0 auto;
}
.feature-block__card + .feature-block__card {
  @media screen and (max-width: $tablet - 1px) {
    margin-top: 30px;
  }
  @media screen and (min-width: $desktop) {
    margin-left: 30px;
  }
}
.feature-block__title {
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  @media screen and (max-width: $tablet - 1px) {
    text-align: center;
  }
}
.feature-block__text {
  color: $secondary-text-color;

  font-size: 14px;
  line-height: 1.71;
  font-weight: 400;
}
