.filter {
  display: flex;

  flex-wrap: wrap;
  // 50
  margin: -4px;
  margin-bottom: 40px;
  @media screen and (min-width: $tablet) {
    @include centeredFlex();
  }
}
.filter__item {
  // margin-left: 8px;
  margin: 4px;
}
.filter__button {
  background: $gray-color;
  color: $main-text-color;
  border: none;

  font-weight: 500;
  letter-spacing: 0.03em;
  padding: 6px 22px;
  line-height: 1.62;
  border-radius: 4px;

  cursor: pointer;
  box-shadow: none;
  transition: color $anim-time $animation, background $anim-time $animation,
    box-shadow $anim-time $animation;

  &--active,
  &:hover,
  &:focus {
    background: $accent-color;
    color: $white-color;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}
