/* Join block in footer */
.join {
  // margin-left: 70px;
  // margin-top: 12px;
}
.join__title {
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: $white-color;
  // margin-bottom: 20px;
}
.join .contact__item {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
}
.join .contact__link {
  color: $white-color;
}
