/* Mailing in footer */
.mailing {
  @media screen and (max-width: $desktop - 1px) {
    width: 100%;
  }
  @media screen and (min-width: $tablet) {
    margin-top: 60px;
  }
  @media screen and (min-width: $desktop) {
    margin-top: 12px;
    margin-left: auto;
  }
}
.mailing__title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;

  color: $white-color;
  @media screen and (max-width: $desktop - 1px) {
    text-align: center;
  }
}
.mailing__content {
  @include centeredFlex;
  flex-direction: column;
  @media screen and (min-width: $desktop) {
    flex-direction: row;
  }
}
.mailing__input {
  width: 100%;

  padding: 15px 16px;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);

  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  background-color: transparent;
  @media screen and (max-width: $desktop - 1px) {
    margin-bottom: 20px;
  }
  @media screen and (min-width: $tablet) {
    width: 450px;
  }
  @media screen and (min-width: $desktop) {
    width: 358px;
    margin-right: 12px;
  }
}
.mailing__btn {
  padding: 10px 29px;
  // width: 200px;
  // height: 50px;

  font-weight: 700;
  line-height: 1.87;

  @include centeredFlex();
  text-align: center;
  letter-spacing: 0.06em;

  color: $white-color;
}
.mailing__icon {
  margin-left: 10px;
  fill: currentColor;
  font-size: 0;
  /* transform: translateY(25%); */
}
